@CHARSET "UTF-8";

.img_bk {
	width: 100px;
	height: 100px;
	/*background-color: #fff;*/
	/*background-image: url("http://localhost/florence_route/img/smdf/thumb.jpg");*/
	float: left;
}

.marker_g {
	background-image: url("img/Green.png");
	background-repeat: no-repeat;
	width: 28px;
	height: 40px;
	float: right;
	margin-top: 60px;
	margin-right: 0px;
}

.marker_r {
	background-image: url("img/Red.png");
	background-repeat: no-repeat;
	width: 28px;
	height: 40px;
	float: right;
	margin-top: 60px;
	margin-right: 0px;
}

.marker_r p {
	color: white;
	position: relative;
	left: 8px;
	top: -2px;
}

.marker_g p {
	color: white;
	position: relative;
	left: 8px;
	top: -2px;
}

.marker_g_you {
	background-image: url("img/Green.png");
	background-repeat: no-repeat;
	width: 28px;
	height: 40px;
	float: left;
}

.marker_g_you p {
	color: white;
	position: relative;
	left: 8px;
	top: -2px;
}

.title {
	padding-left: 10px;
	padding-top: 3px;
	white-space: normal !important;
}

.dist {
	padding-left: 10px;
	white-space: normal !important;
}

.Text {
	white-space: normal !important;
	
}

.readonly-state-c {
    background: #eee !important;
    font-weight: bold !important;
     
    background-color: #999999 !important;
    cursor: default !important;
}

.readonly-state-d {
    background: #eee !important;
    font-weight: bold !important;
    color: #2F3E46 !important;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/ !important;
    background-color: #F8F8F8 !important;
    cursor: default !important;
}

.ui-btn-active
{
	
	background-color: #444444 !important;
}
